<html ng-app="confirmedController">
<html>
<head>
    <style>
        div {
            background-color: lightgrey;
            width: 300px;
            border: 25px;

            padding: 25px;
            margin: 25px;
        }
    </style>
</head>
<h2>Confirmed!</h2>
<p>Thanks for booking your appointment.</p>
<div>
    <ul style="list-style-type:none">
        <li><b>Duration:</b> 30 Minutes</li>
        <li><b>Time:</b> 10:30am - 11:30am</li>
        <li><b>Stylist:</b> Terresa</li>
    </ul>


</div>
</div>
</html>

<iframe
        class="right"
        width="450"
        height="338"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAG20pbq-pGO2iZP7xSo29GuzucNEnog3k
      &q=record+salons+in+Milwaukee" allowfullscreen>
</iframe>
</html>




